<mat-card class="mat-card">
  <h2>{{loginLabel}}</h2>
  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="mat-form-field">
      <mat-label>{{usernameLabel}}</mat-label>
      <input matInput type="text" required placeholder="john_dow" formControlName="username">
    </mat-form-field>
    <br>

    <mat-form-field class="mat-form-field">
      <mat-label>{{passwordLabel}}</mat-label>
      <input matInput minlength="8" type="password" required placeholder="Password" formControlName="password">
    </mat-form-field>
    <br>

    <button class="btn-submit" type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">{{loginLabel | uppercase}}</button>
    <br>

    <div class="mat-form-item">
      <mat-label>
        {{dontHaveAccountLabel}}
        <a routerLink="/auth/register" routerLinkActive="['active']">{{createAccountLabel}}</a>
      </mat-label>
    </div>

  </form>
</mat-card>
