<mat-card class="mat-card">
  <h2>{{registerLabel}}</h2>
  <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field class="mat-form-field">
      <mat-label>{{usernameLabel}}</mat-label>
      <input matInput type="text" required placeholder="johndow" formControlName="username">
    </mat-form-field>
    <br>

    <mat-form-field class="mat-form-field">
      <mat-label>{{emailLabel}}</mat-label>
      <input matInput type="email" required placeholder="JohnDow@mail.com" formControlName="email">
    </mat-form-field>
    <br>

    <mat-form-field class="mat-form-field">
      <mat-label>{{passwordLabel}}</mat-label>
      <input matInput minlength="8" type="password" required formControlName="password">
    </mat-form-field>
    <br>

    <mat-form-field class="mat-form-field">
      <mat-label>{{confirmLabel}}</mat-label>
      <input matInput minlength="8" type="password" required formControlName="retype">
    </mat-form-field>
    <br>

    <button class="btn-submit" type="submit" [disabled]="!registerForm.valid" mat-raised-button color="primary">{{registerLabel | uppercase}}</button>
    <br>

    <div class="mat-form-field">
      <mat-label>
        {{haveAccountLabel}}
        <a routerLink="/auth/login">{{loginLabel}}</a>
      </mat-label>
    </div>

  </form>
</mat-card>
