.mat-form-label {
  padding: 0 16px;
  width: 300px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.mat-form-button {
  margin: 12px;;
}

.card {
  text-decoration: none;
  color: #3f51b5;
  height: 36px;
  margin-top: 13px;
  padding: 0 16px;
  min-height: 36px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
}



.card-item {
  display: flex;
  justify-content: space-between;
}
