<article class="card-list-wrapper">

  <section *ngIf="allCards.length === 0; else cardsPresented">
    <mat-form-field>
      <mat-label class="cards-to-generate-label">{{cardsToGenerateLabel}}</mat-label>
      <input matInput type="number" placeholder="Default - 8" #action>
    </mat-form-field>

    <button class="mat-form-button" mat-stroked-button (click)="generateCards(action.value)">{{generateLabel}}</button>
  </section>

  <ng-template #cardsPresented>
    <section>
      <app-filtered [cards]="allCards" (cardsUpdate)="cardsUpdate($event)"></app-filtered>
    </section>
  </ng-template>

</article>
