.card-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-form-button {
  margin: 12px;;
}

.card {
  text-decoration: none;
  color: #3f51b5;
  padding: 0 16px;
  min-height: 36px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
}
