<article class="card-list-wrapper">

  <section *ngIf="allCards.length === 0; else cardsPresented">
    <mat-form-field>
      <mat-label>{{cardsToGenerateLabel}}</mat-label>
      <input matInput type="number" placeholder="Default is 8" #action>
    </mat-form-field>

    <button class="mat-form-button" mat-stroked-button (click)="generateCards(action.value)">{{generateLabel}}</button>
  </section>

  <ng-template #cardsPresented>
    <section>

      <form class="filter-form">
        <mat-form-field class="mat-form-label">
          <mat-label>{{filterLabel}}</mat-label>
          <input matInput [(ngModel)]="searchText" (ngModelChange)="filterCards()" name="cardFilter">
        </mat-form-field>
        <button class="mat-form-button" mat-stroked-button (click)="clearFilter()">{{clearLabel}}</button>
      </form>

      <div>
          <div class="card-item" *ngFor="let card of filteredCards">
              <a appHighlight routerLink="/cards/details/{{card.id}}" class="card" [title]="card.firstName + ' ' + card.lastName">
                  {{card.firstName}}
                  {{card.lastName}} :
                  {{card.job}}
              </a>
              <button class="mat-form-button" mat-stroked-button (click)="deleteCard(card.id)">
                  <mat-icon>close</mat-icon>
              </button>
          </div>
      </div>

    </section>
  </ng-template>

</article>
