<div class="wrap">
  <nav id="top-navbar">
    <mat-toolbar class="navbar">
      <div class="navbar-header">
        <a class="logo header-logo" routerLink="/home">
          <span>{{appNameLabel}}</span>
        </a>
      </div>
      <div class="navbar-collapse">
        <a class="nav-item home" routerLink="/home">{{homeMenuLabel}}</a>
        <button class="nav-item cards-btn" mat-button [matMenuTriggerFor]="cardsMenu" *ngIf="isAuthenticated">{{cardsMenuLabel}}</button>
        <mat-menu #cardsMenu="matMenu">
          <button mat-menu-item routerLink="/cards/add">{{addNewCardMenuLabel}}</button>
          <button mat-menu-item routerLink="/cards/list">{{showAllCardsMenuLabel}}</button>
        </mat-menu>
        <button class="nav-item game-btn" mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated">{{gameMenuLabel}}</button>
        <mat-menu #menu="matMenu">
          <button routerLink="/game/play" mat-menu-item>{{playMenuLabel}}</button>
          <button routerLink="/game/score" mat-menu-item>{{scoresMenuLabel}}</button>
        </mat-menu>
        <a class="nav-item about" routerLink="/about">{{aboutMenuLabel}}</a>
      </div>
      <div class="navbar-auth" *ngIf="isAuthenticated">
        <a mat-flat-button color="primary" class="btn-auth" (click)="logout()">{{logoutLabel | uppercase}}</a>
      </div>
      <div class="navbar-auth" *ngIf="!isAuthenticated">
        <a mat-flat-button color="primary" class="btn-auth login" routerLink="/auth/login">{{loginLabel | uppercase}}</a>
        <a mat-flat-button color="primary" class="btn-auth register" routerLink="/auth/register">{{registerLabel | uppercase}}</a>
      </div>

      <div class="username-wrapper">
        <h1 class="username">{{welcomeMessage}} {{username}}</h1>
      </div>
    </mat-toolbar>
  </nav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer">
    <mat-toolbar class="footer-container">
      <a class="logo footer-logo" routerLink="/home">
        <span>{{appNameLabel}}</span>
      </a>
      <div class="copyright">
        © {{currentYear}} {{appNameLabel}} - All Rights Reserved
      </div>
    </mat-toolbar>
  </footer>
</div>
