<div class="wrap">
  <nav id="top-navbar">
    <mat-toolbar class="navbar">
      <div class="navbar-header">
        <a class="logo header-logo" routerLink="/home">
          <span>GuessYourFriend</span>
        </a>
      </div>
      <div class="navbar-collapse">
        <a class="nav-item" routerLink="/home">Home</a>
        <a class="nav-item" routerLink="/cards/add">Add card</a>
        <a class="nav-item" routerLink="/cards/list">Cards</a>
        <a class="nav-item" routerLink="/game/play">Play</a>
        <a class="nav-item" routerLink="/game/score">Score</a>
        <a class="nav-item" routerLink="/game/results">Last Result</a>
      </div>
    </mat-toolbar>
  </nav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer">
    <mat-toolbar class="footer-container">
      <a class="logo footer-logo" routerLink="/home">
        <span>GuessYourFriend</span>
      </a>
      <div class="copyright">
        © {{currentYear}} GuessYourFriend - All Rights Reserved
      </div>
    </mat-toolbar>
  </footer>
</div>
