<section *ngIf="cards.length === 0; else gameInterface">
  <h1 class="warning-msg">Can't start game. There is not enogh cards.</h1>
</section>

<ng-template #gameInterface>
  <app-number-of-games (startGame)="startGame($event)" *ngIf="!isGamePlayVisible"></app-number-of-games>

  <section *ngIf="isGamePlayVisible">
    <app-statistics [correctAnswers]="correctAnswers"
                    [incorrectAnswers]="incorrectAnswers"></app-statistics>
    <mat-card class="card">
      <figure class="avatar-wrapper">
        <img class="avatar" src="{{randomCard.photo}}" alt="Friend's photo">
      </figure>
      <h3>{{randomCard.job}}</h3>
      <button
        class="card-btn"
        type="button"
        mat-stroked-button color="primary"
        *ngFor="let card of cards"
        (click)="checkAnswer(card)"
      >
        {{card.firstName}} {{ card.lastName}}
      </button>
    </mat-card>
  </section>
</ng-template>
