<section *ngIf="cards.length === 0; else gameInterface">
  <h1 class="warning-msg">Can't start game. There is not enogh cards.</h1>
</section>

<ng-template #gameInterface>
  <app-pre-game (startGame)="startGame($event)" *ngIf="!isGamePlayVisible"></app-pre-game>

  <section *ngIf="isGamePlayVisible">
    <app-statistics [correctAnswers]="correctAnswers"
                    [incorrectAnswers]="incorrectAnswers"></app-statistics>
    <app-card (answer)="submitAnswer($event)" [randomCard]="randomCard" [cards]="cards"></app-card>
  </section>
</ng-template>
