.add-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-form {
  display: flex;
  flex-direction: column;
}

.avatar-wrapper {
  display: flex;
  flex-direction: row;
}

.avatar {
  flex: 1;
  height: auto;
  width: 270px;
}

.card {
  width: 350px;
}

.radio {
  margin-left: 16px;
}
