<article class="add-card-wrapper">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{addCardTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="card-form" [formGroup]="newCard">
        <figure class="avatar-wrapper">
          <img class="avatar" [src]="avatars[newCard.get('gender').value]" alt="avatar">
        </figure>
        <mat-form-field>
          <mat-label>{{firstNameLabel}}</mat-label>
          <input matInput type="text" required placeholder="John" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{lastNameLabel}}</mat-label>
          <input matInput type="text" required placeholder="Dow" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{jobPositionLabel}}</mat-label>
          <input matInput type="text" required placeholder="Ex. Software Engineer" formControlName="job">
        </mat-form-field>
        <mat-radio-group required aria-label="Select gender">
          <mat-label>{{genderLabel}}</mat-label>
          <mat-radio-button class="radio" value="male">{{maleOptionLabel}}</mat-radio-button>
          <mat-radio-button class="radio" value="female">{{femaleOptionLabel}}</mat-radio-button>
        </mat-radio-group>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit" (click)="addCard()"
        [disabled]="!newCard.valid">{{addButtonLabel}}</button>
    </mat-card-actions>
  </mat-card>
</article>
